.form {
  display: flex;
  background-color: #fff;
  padding: 20px;
  gap: 15px;
}

@media (max-width: 767px) {
  .form {
    flex-direction: column;
  }
}

.form__input {
  flex-grow: 1;
  border: 1px solid #eee;
  padding: 10px;
}

.form__button {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  transition: 1s;
}

.form__button:hover {
  background-color: #009999;
  cursor: pointer;
}

.form__button:active {
  background-color: #00b3b3;
}
