.section__subHeader {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 4px;
}

.section__list {
  background-color: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.section__listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.section__listItem--done {
  text-decoration: line-through;
}

.section__listItem-task {
  flex-grow: 1;
  padding-left: 10px;
}

.section__listButton {
  background-color: #008000;
  border: none;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 0 10px;
}

.section__listButton--remove {
  background-color: #ff0000;
  border: none;
  color: #fff;
  width: 30px;
  height: 30px;
}

.section__listButton:hover {
  background-color: #009900;
  cursor: pointer;
}

.section__listButton:active {
  background-color: #00b300;
}

.section__listButton--remove:hover {
  background-color: #ff4d4d;
  cursor: pointer;
}

.section__listButton--remove:active {
  background-color: #ff8080;
}
