.section__subHeader {
  border: 1px solid black;
  background-color: #fff;
  padding: 15px;
}

.section__list {
  background-color: #fff;
  list-style-type: none;
  padding: 10px;
}

.section__listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #eee;
}

.section__listItem--done {
  text-decoration: line-through;
}

.section__listButton {
  background-color: #008000;
  border: none;
  color: #fff;
  width: 30px;
  height: 30px;
}
