html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.form__container {
  max-width: 800px;
  margin: 200px auto;
  border: 1px solid black;
  padding: 20px;
}

.taskList__item {
  text-decoration: line-through;
}
